<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd">
    <beans profile="dev" >
        <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
            <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
            <!-- 基本属性 url、user、password -->
            <property name="url" value="jdbc:mysql://localhost:3306/Spitter"/>
            <property name="username" value="root"/>
            <property name="password" value="123123"/>
            <!-- 配置初始化大小、最小、最大 -->
            <property name="initialSize" value="1"/>
            <property name="minIdle" value="1"/>
            <property name="maxActive" value="20"/>

            <!-- 配置监控统计拦截的filters -->
            <property name="filters" value="stat"/>
        </bean>
    </beans>
    <beans profile="test">
        <jdbc:embedded-database id="dataSource" type="H2">
            <jdbc:script location="resources/schema.sql" />
        </jdbc:embedded-database>
    </beans>

</beans>